<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.TPP.com.board.persistence.PostMapper">
	<resultMap type="www.TPP.com.board.model.PostVO" id="postMap"
	extends="www.TPP.com.board.persistence.BoardMapper.boardMap">
		<id property="postId" column="post_id"></id>
		<result property="postTitle" column="post_title"></result>
		<result property="sellCount" column="sell_count"></result>
		<result property="rateScore" column="rate_score"></result>
		<result property="rateCount" column="rate_count"></result>
		<result property="sellerId" column="seller_id"></result>
	</resultMap>
	
	<!-- List<PostVO> getPostList(@Param("criteria") Criteria criteria); -->
	<select id="getPostList" resultMap="postMap">
	SELECT p.*, s.user_name s_user_name, s.authority s_authority
		FROM f_post p, f_party s
		WHERE p.seller_id = s.user_id
	</select>
	
	<!-- PostVO getPost(@Param("boardId") String boardId,@Param("postId") String postId); -->
	<select id="getPost" resultMap="postMap">
	SELECT * FROM f_post WHERE post_id = #{postId}
	</select>
	
	<!-- long getSearchTotalCount(@Param("boardId") String boardId, @Param("criteria") Criteria fromUser); -->
	<select id="getSearchTotalCount" resultType="_long">
	SELECT COUNT(*)
		FROM f_post
		WHERE post_title like '% || #{criteria.searching} || %'
		<!-- post_info 줄 추가 -->
			
	</select>

	<!-- long getTotalCount(String boardId); -->
	<select id="getTotalCount" resultType="_long">
	SELECT COUNT(*) FROM f_post
	</select>
	
	<!-- public int registerPost(@Param("post") PostVO newPost); -->
	<insert id="registerPost">
      <selectKey keyProperty="post.postId" order="BEFORE" resultType="string">
         select get_id(seq_reply_id.nextval) from dual
      </selectKey>
      insert into f_post(post_id, seller_id, post_title, image)
         values(#{post.postId}, #{post.sellerId}, #{post.postTitle}, #{post.image})  
    </insert>

	<!-- public PostVO getPostListBySellerId(String sellerId); -->
	<select id="getPostListBySellerId" resultMap="postMap">
		SELECT *
		  FROM f_post
		 WHERE seller_id = #{sellerId}
	</select>
   
</mapper>